<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>WeWantYou</title>
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600|Archivo+Narrow:400,700" rel="stylesheet" type="text/css"/>
		<link href="default.css" rel="stylesheet" type="text/css" media="all" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>

	<body>
		<div id="wrapper" class="container">
			<div id="header">
				<div id="logo">
					<h1><a href="#">We want you</a></h1>
				</div>
			</div>

			<div>
				<div id="slider">
					<div id="buttonsBar">
						<button class="buttonsBar" id="comment"><img src="/resources/comment.png" width="50" height="50" alt="" /></button>
						<button class="buttonsBar" id="dislike"><img src="/resources/dislike.png" width="50" height="50" alt="" /></button>
						<button class="buttonsBar" id="unsure"><img src="/resources/unsure.png" width="50" height="50" alt="" /></button>
						<button class="buttonsBar" id="like"><img src="/resources/like.png" width="50" height="50" alt="" /></button>
						<button class="buttonsBar" id="superlike"><img src="/resources/star.png" width="50" height="50" alt="" /></button>
					</div>
					<div class="viewer">
						<div class="reel">
							<% candidates.forEach(function (candidate) { %>
							<div class="slide"> 
									<div class="both">
										<div class="left">
											<img id="profile-image-<%= candidate.id %>" width="250" height="200" alt="profile image" />

											<div class="card" id="card-<%= candidate.id %>">
											</div>

											<div class="page" id="page-<%= candidate.id %>">
												<div class="content" id="content-<%= candidate.id %>">
												</div>
											</div>
										</div>

										<div class="right sidebar" id="sidebar-<%= candidate.id %>">
											<div>
												<h2>Dados</h2>

												<ul class="style1" id="data-<%= candidate.id %>">
												</ul>
											</div>
										</div>
									</div>
								</div>
							<% }) %>
						</div>
					</div>
				</div>
			</div>

			<div id="footer">
				<p>Copyright (c) 2017 wewantyou.com</p>
			</div>
		</div>
	</body>
</html>

<script type="text/javascript" src="jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="jquery.slidertron-1.1.js"></script>

<script type="text/javascript">
var candidates

$(document).ready(function(){
	function getImage (profile) {
		if (profile.photos && profile.photos.length > 0) {
			return profile.photos[0].url
		}

		return ''
	}

	function fillProfileImage (image, id) {
		document.getElementById(`profile-image-${id}`).setAttribute('src', image)
	}

	function fillCard (candidate) {
		var id = candidate.id

		var card = document.getElementById(`card-${id}`)
		card.innerHTML = ''

		var name = candidate.name
		var email = candidate.email
		var facebook = `https://facebook.com/${candidate.facebook}`
		var github = `https://github.como/${candidate.github}`
		var linkedin = `https://linkedin.com/in/${candidate.linkedin}`
		var referral = candidate.referral
		var referral_level = candidate.referral_level
		var comments = candidate.comments

		card.innerHTML += `<h1 id="name-${id}">${name}</h1>`
		card.innerHTML += `<div id="email-${id}">${email}</div>`

		if (referral) {
			card.innerHTML += `<div id="referral-${id}"><b>Referrer</b>: ${referral}</div>`
			card.innerHTML += `<div id="referral-level-${id}"><b>Referral Level</b>: ${referral_level}</div>`
		}

		card.innerHTML += `<div id="icons-${id}">`
		if (facebook) {
			card.innerHTML += `<button><a href="${facebook}"><img src="/resources/facebook-logo.png" width="15" height="15" alt="" /></a></button>`
		}
		if (github) {
			card.innerHTML += `<button><a href="${github}"><img src="/resources/github-logo.png" width="15" height="15" alt="" /></a></button>`
		}
		if (linkedin) {
			card.innerHTML += `<button><a href="${linkedin}"><img src="/resources/linkedin-logo.png" width="15" height="15" alt="" /></a></button>`
		}
		card.innerHTML += `</div>`

		if (comments) {
			card.innerHTML += `<div id="comments-${id}">`
			for (let i = 0; i < comments.length; ++i) {
				var comment = comments[i]
				card.innerHTML += `<span>${comment.author}: ${comment.comment}</span><br>`
			}
			card.innerHTML += `</div>`
		}
	}

	function fillContent (form, id) {
		var content = document.getElementById(`content-${id}`)
		content.innerHTML = ''

		content.innerHTML += `<ul>`
		console.log(form)
		if (typeof form === 'string') {
			form = JSON.parse(form)
		}

		for (var question in form) {
			var answer = form[question]

			content.innerHTML += `<li><b>${question}</b><br>${answer}</li>`
		}
		content.innerHTML += `</ul>`
	}

	function fillData (profile, id) {
		var data = document.getElementById(`data-${id}`)
		data.innerHTML = ''
		
		if (profile === null || profile === undefined) {
			return
		}

		if (profile.organizations) {
			data.innerHTML += `<li>${profile.organizations[0].name} since ${profile.organizations[0].startDate}</li>`
		}

		if (profile.macromeasures && profile.macromeasures.ranked_interests) {
			data.innerHTML += `<li>Interesses:</li>`
			for (var i = 0; i < 7 && i < profile.macromeasures.interests.length; ++i) {
				var interest = profile.macromeasures.ranked_interests[i]
				data.innerHTML += `>> ${interest.name} - ${interest.score}<br>`
			}
		}

		if (profile.github) {
			var github = profile.github
			data.innerHTML += `<li>GitHub:</li>`
			data.innerHTML += `<b>>> Biografia</b>: ${github.bio}<br>`
			data.innerHTML += `<b>>> Hireable</b>: ${github.hireable || false}<br>`
			data.innerHTML += `<b>>> Public Repos</b>: ${github.public_repos}<br>`
			data.innerHTML += `<b>>> Public Gists</b>: ${github.public_gists}<br>`
			data.innerHTML += `<b>>> Followers</b>: ${github.followers}<br>`
			data.innerHTML += `<b>>> Following</b>: ${github.following}<br>`
			data.innerHTML += `<b>>> Owned Repositories</b>: ${github.repos_statistics.owned_repositories}<br>`
			data.innerHTML += `<b>>> Stars</b>: ${github.repos_statistics.starrers}<br>`
			data.innerHTML += `<b>>> Watchers</b>: ${github.repos_statistics.watchers}<br>`

			var langs = github.repos_statistics.repository_languages
			data.innerHTML += `<b>>> # of Repositories per Language</b>:<br>`
			for (var lang in langs) {
				data.innerHTML += `<b> >>>> ${lang}</b>: ${langs[lang]}<br>`
			}
		}
	}

	$('#slider').slidertron({
		viewerSelector: '.viewer',
		reelSelector: '.viewer .reel',
		slidesSelector: '.viewer .reel .slide',
		advanceDelay: 0000,
		speed: 'fast',
		navNextSelector: '.buttonsBar',
	});

	function reload (candidate) {
		fillCard(candidate)
		fillProfileImage(getImage(candidate.fullContactProfile), candidate.id)
		fillContent(candidate.form, candidate.id)
		fillData(candidate.fullContactProfile, candidate.id)
	}

	$.ajax({
		url: `https://wilkmaia.xyz/pool`,
		contentType: `text/plain`,
		async: false,
		success: (res) => {
			candidates = res.candidates

			candidates.map((candidate) => {
				reload(candidate)
			})
		}
	})

	$("#superlike").click(function(e){
		if (candidates.length === 0) {
			return
		}

		var activeSlide = document.querySelector('.active')
		$.ajax({
			type: 'POST',
			url: `/send_superlike`,
			dataType: 'json',
			data: {
				id: candidates[0].id,
				author: 'Wilk',
			},
			success: (res) => {
				var candidate = candidates.splice(0, 1)[0]
				activeSlide.remove()
			},
		})
	})

	$("#like").click(function(e){
		if (candidates.length === 0) {
			return
		}

		var activeSlide = document.querySelector('.active')
		$.ajax({
			type: 'POST',
			url: `/send_like`,
			dataType: 'json',
			data: {
				id: candidates[0].id,
				author: 'Wilk',
			},
			success: (res) => {
				var candidate = candidates.splice(0, 1)[0]
				activeSlide.remove()
			},
		})
	})

	$("#dislike").click(function(e){
		var activeSlide = document.querySelector('.active')
		if (activeSlide) {
			activeSlide.remove()
		}

		candidates.splice(0, 1)[0]
	})

	$("#comment").click(function(e){
		if (candidates.length === 0) {
			return
		}

		$.ajax({
			type: 'POST',
			url: `/send_comment`,
			dataType: 'json',
			data: {
				comment: 'Comentário legal',
				author: 'Wilk',
				id: candidates[0].id,
			},
		})
	})

	$("#unsure").click(function(e){
		candidate = candidates.splice(0, 1)[0]
		candidates.push(candidate)
	})
});
</script> 
